<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roomwordsample">

    <application
        android:name=".WordApplications"
        android:allowBackup="true"
        android:icon="@drawable/wordsapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wordsapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomWordSample">
        <activity android:name=".screens.AddEditActivity" />
        <activity android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>